
.container{
	margin: 20px auto;
	max-width: 700px;
	width: 80%;
	border: 15px solid #bdc3c7;
	padding: 20px;
}

.date{
	margin-top: -1px; 
	color: #3498db;
	font-weight: ;
	font-size: 20px;
	letter-spacing: .3rem;
}

h2{
	margin-top: -2px; 
	color: #2c3e50;
	font-size: 40px;
	font-weight: bold;
}

.border{
	border-left: 5px solid #bdc3c7;
	padding-left: 8px;
}

hr{
	margin: 20px 0 20px 0;
}